<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905533618923-nu257mtga2grsus04ac5ah0l2obna3fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905533618923-nu257mtga2grsus04ac5ah0l2obna3fn</string>
	<key>API_KEY</key>
	<string>AIzaSyA_A5g6etI_bCBDR_AEZ07dYoWM1nNTRkc</string>
	<key>GCM_SENDER_ID</key>
	<string>905533618923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petapp</string>
	<key>PROJECT_ID</key>
	<string>petapp-ad410</string>
	<key>STORAGE_BUCKET</key>
	<string>petapp-ad410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905533618923:ios:59817b3c9a6fa72d899cae</string>
</dict>
</plist>